.SliderArrow {
  position: absolute;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 22px;
  height: 41px;
  opacity: 0.3;
  z-index: 10;
  transition: .3s;
  top: 14%;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.prev {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.041 20.503L21.748 1.415A.821.821 0 0022 .83a.801.801 0 00-.252-.585A.86.86 0 0021.14 0a.882.882 0 00-.608.245L.252 19.909a.832.832 0 00-.252.59.81.81 0 00.253.59l20.279 19.673a.894.894 0 00.613.238.877.877 0 00.473-.143.838.838 0 00.313-.372.809.809 0 00-.183-.902L2.041 20.503z' fill='%23283645'/%3E%3C/svg%3E");
  left: 0;
}

.next {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.959 20.497L.252 39.585A.822.822 0 000 40.17a.801.801 0 00.252.585A.86.86 0 00.86 41a.88.88 0 00.608-.245l20.28-19.664a.834.834 0 00.252-.59.811.811 0 00-.253-.59L1.468.239A.894.894 0 00.855 0a.878.878 0 00-.473.143.838.838 0 00-.313.372.81.81 0 00.183.902l19.707 19.08z' fill='%23283645'/%3E%3C/svg%3E");
  right: 0;
}