.item {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  border-radius: 50%;

  :global(.slick-active) & {
    width: 12px;
    height: 12px;
    border: 3px solid #283645;
    background-color: #fff;
    opacity: 1;
  }
}
