@import '../../../variables';

.HomeGetApp {
  @media(min-width: $tablet-width) {
    background-image: url(../../../images/hand-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 93px 20px 114px;
  }

  @media(min-width: $desktop-width) {
    max-width: 960px;
    margin: 0 auto;
    padding: 99px 10px 125px;
    background-image: url(../../../images/hand-desktop.png);
    background-position: bottom left 26px;
  }
}

.getApp {
  color: #FFFFFF;
  background: #1D2631;
  padding: 28px 20px 32px;
  text-align: center;

  @media(min-width: $tablet-width) {
    background-color: transparent;
    width: 50%;
    padding: 0 10px 0 0;
  }

  @media(min-width: $desktop-width) {
    max-width: 309px;
  }
}

.button {
  width: 280px;

  @media(min-width: $tablet-width) {
    width: 300px;
  }

  @media(min-width: $desktop-width) {
    font-size: 21px;
  }
}


.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media(min-width: $tablet-width) {
    font-size: 18px;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 22px;

  @media(min-width: $tablet-width) {
    padding: 46px 0 32px;
  }

  @media(min-width: $desktop-width) {
    padding: 70px 0 50px;
  }
}

.item {
  background-repeat: no-repeat;

  &:not(:Last-child) {
    margin-right: 35px;
  }
}

.apple {
  background-image: url("data:image/svg+xml,%3Csvg width='47' height='56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.245 29.74a12.09 12.09 0 002.127 6.787A12.668 12.668 0 0047 41.063a29.794 29.794 0 01-4 7.96c-2.401 3.413-4.905 6.816-8.844 6.904-3.938.09-5.088-2.219-9.526-2.219-4.437 0-5.8 2.15-9.465 2.288-3.663.139-6.686-3.718-9.088-7.111-4.956-6.905-8.752-19.639-3.664-28.2a13.925 13.925 0 015.024-5.037 14.489 14.489 0 016.935-1.977c3.724-.069 7.246 2.427 9.526 2.427 2.28 0 6.564-3.009 11.062-2.565 2.084.073 4.121.613 5.954 1.576a13.387 13.387 0 014.61 3.977c-.275.168-6.31 3.571-6.249 10.653h-.03zM31.978 8.936C34.16 6.46 35.238 3.247 34.981 0c-3.305.302-6.364 1.82-8.55 4.241-1.862 2.092-3.5 5.445-3.053 8.66 3.247.247 6.555-1.597 8.57-3.945' fill='%23fff'/%3E%3C/svg%3E");
  width: 47px;
  height: 56px;
}

.android {
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.886 14.062H8.114v19.133c-.011.913.332 1.795.96 2.468a3.697 3.697 0 002.422 1.159v7.453c.044.737.374 1.43.922 1.936a2.986 2.986 0 002.026.789c.753 0 1.478-.282 2.026-.789.548-.506.878-1.199.922-1.936v-7.433h8.236v7.433c.045.737.375 1.43.922 1.936a2.985 2.985 0 002.026.789c.754 0 1.478-.282 2.026-.789.548-.506.878-1.199.922-1.936v-7.453a3.707 3.707 0 002.426-1.158c.63-.673.975-1.555.967-2.468V14.402l-.03-.34zM2.953 15.745c.78 0 1.53.304 2.081.845.552.54.862 1.275.862 2.04v12.402c.001.38-.074.756-.22 1.107a2.88 2.88 0 01-.638.94 2.947 2.947 0 01-.956.627 2.995 2.995 0 01-3.217-.627A2.866 2.866 0 010 31.032V18.63c0-.38.076-.756.225-1.107.149-.35.366-.669.64-.937.275-.268.6-.48.959-.625a2.995 2.995 0 011.13-.216zM40.057 15.745c.78 0 1.53.304 2.081.845.552.54.862 1.275.862 2.04v12.402c.001.38-.074.756-.221 1.107-.147.351-.364.67-.637.94a2.947 2.947 0 01-.956.627 2.994 2.994 0 01-3.217-.627 2.867 2.867 0 01-.865-2.047V18.63c0-.38.076-.756.225-1.107.148-.35.366-.669.64-.937.275-.268.6-.48.959-.625a2.995 2.995 0 011.129-.216zM8.175 12.058h26.568a10.404 10.404 0 00-3.26-7.293L34.049.498a.307.307 0 00-.122-.461.322.322 0 00-.42.11l-2.42 4.157A16.708 16.708 0 0021.458.898a16.977 16.977 0 00-9.575 3.406L9.504.187a.325.325 0 00-.184-.16.333.333 0 00-.246.01.315.315 0 00-.112.42l2.493 4.238a10.443 10.443 0 00-3.28 7.363zm17.699-5.21c0-.398.161-.78.449-1.062.287-.281.677-.44 1.083-.44.407 0 .797.159 1.084.44.288.282.45.664.45 1.063 0 .398-.162.78-.45 1.062-.287.282-.677.44-1.084.44-.406 0-.796-.158-1.083-.44a1.488 1.488 0 01-.45-1.062zm-11.384 0c0-.398.162-.78.449-1.062.287-.281.677-.44 1.084-.44.406 0 .796.159 1.084.44.287.282.449.664.449 1.063 0 .398-.162.78-.45 1.062-.287.282-.677.44-1.083.44-.407 0-.797-.158-1.084-.44a1.488 1.488 0 01-.449-1.062z' fill='%23A4C639'/%3E%3C/svg%3E");
  width: 43px;
  height: 47px;
}

.windows {
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.908 19.524H0V0h20.908v19.524z' fill='%23F05423'/%3E%3Cpath d='M44 19.524H23.092V0H44v19.524z' fill='%2384C441'/%3E%3Cpath d='M20.908 41H0V21.476h20.908V41z' fill='%232DABE2'/%3E%3Cpath d='M44 41H23.092V21.476H44V41z' fill='%23F9BC15'/%3E%3C/svg%3E");
  width: 44px;
  height: 41px;
}