@import '../../../variables';

.DevelopedBy {
  display: flex;
}

.link {
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #D22856;
  transition: .3s ease-in-out;

  &:hover {
    color: #283645;
  }

  &:active {
    color: rgba(#283645, 0.3);
  }
}

.text {
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  margin-right: 16px;

  @media(min-width: $desktop-width) {
    font-size: 18px;
  }
}

.logo {
  display: block;
  color: inherit;
}