@import '../../../variables';

.panorama {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  @media(min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  &:after {
    content: 'Панорама дня';
    position: absolute;
    top: 0;
    right: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #D22856;
    padding: 5.5px 20px 6.5px 19px;

    @media(min-width: $tablet-width) {
      top: 57px;
    }

    @media(min-width: $desktop-width) {
      top: 9.4%;
      right: 10.83%;
    }
  }
}
