@import '../../../../variables';

.DescribeEmotions {
  padding: 40px 20px 44px;
  
  @media(min-width: $tablet-width) {
    order: 4;
    padding: 52px 20px 44px;
  }

  @media(min-width: $desktop-width) {
    width: 100%;
    padding: 39px 0 52px;
  }
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;

  @media(min-width: $tablet-width) {
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    padding: 16px 58px 48px;
  }

  @media(min-width: $desktop-width) {
    padding: 5px 58px 37px;
  }
}

.title {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #D22856;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;

  @media(min-width: $tablet-width) {
    padding: 0 38px;
    line-height: 30px;
  }
}

.textarea {
  width: 100%;
  resize: none;
  height: 201px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  transition: .3s ease-in-out;
  outline: none;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: #D22856;
  }

  &::placeholder {
    color: #283645;
  }

  @media(min-width: $tablet-width) {
    height: 191px;
  }

  @media(min-width: $desktop-width) {
    padding: 13px 20px;
    height: 129px;
  }
}