@import '../../../variables';

.Post {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media(min-width: $tablet-width) {
    width: calc((100% - 20px) / 2);
    padding: 0;
  }

  @media(min-width: $desktop-width) {
    width: calc((100% - 40px) / 3);
      margin-bottom: 54px;
  }
}